:root {
  --green: #242f22;
  --golden: #b18a3d;
  --light-green: #4a4e44;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: rgb(250, 250, 250);
}
html,
body {
  min-height: 100%;
}

body {
  background-color: var(--green);
  background-repeat: no-repeat;
  margin: 1rem;
}

article {
  margin-bottom: 3rem;
  padding: 3rem;
  background-color: var(--light-green);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

h1,
span {
  font-family: "Oleo Script", cursive;
  letter-spacing: 2px;
  font-weight: 200;
  text-shadow: 1px 1px 2px black;
}

.autor {
  font-family: "Montserrat";
  font-size: 1rem;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

.btn {
  display: inline-block;
  background: var(--golden);
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
  color: white;
}

/* layout & nav */

nav {
  margin: 40px auto;
  right: 40px;
}
nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: var(--light-green);
}
.recetas-btn {
  padding: 0.5rem;
  background-color: var(--golden);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.recetas-btn:hover {
  background-color: var(--green);
}

footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}
