/*header*/

.header {
  align-items: center;
  text-align: center;
  margin: auto;
  height: 86vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  align-self: center;
}

.title h2 {
  font-family: "Oleo Script", cursive;
  font-size: 4rem;
  font-weight: 200;
}

/*on mobil*/

@media only screen and (max-width: 600px) {
  .title h2 {
    font-size: 2rem;
  }
}
